In [1]:
!git branch

  JamBranch
* exploringTMDBdata
  master

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Data/tmdb_api_data.csv')
print(df.shape)
df.head()

(59429, 10)

,Unnamed: 0,tmdb_id,imdb_id,title,genre,studio,budget,revenue,tmdb_rating,tmdb_num_votes
0,0,44155.0,tt1612608,The Italian,['Comedy'],"['Eskwad', 'Pathé!', 'M6 Films', 'Canal+']",0.0,0.0,5.3,144.0
1,1,642129.0,tt1718842,Nakalnya Anak Muda,"['Horror', 'Drama', 'Thriller']",['Mitra Pictures'],0.0,0.0,0.0,0.0
2,2,69237.0,tt1645134,Sandcastle,['Drama'],[],0.0,0.0,6.0,4.0
3,3,46249.0,tt1645129,Planzet,"['Animation', 'Action', 'Science Fiction']","['CoMix Wave Films', 'Media Factory']",0.0,0.0,6.2,5.0
4,4,347635.0,tt1645115,Naica,[],[],0.0,0.0,0.0,0.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59429 entries, 0 to 59428
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      59429 non-null  int64
 1   tmdb_id         59424 non-null  float64
 2   imdb_id         59424 non-null  object
 3   title           59424 non-null  object
 4   genre           59424 non-null  object
 5   studio          59424 non-null  object
 6   budget          59424 non-null  float64
 7   revenue         59424 non-null  float64
 8   tmdb_rating     59424 non-null  float64
 9   tmdb_num_votes  59424 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 4.5+ MB

In [7]:
df.tmdb_id.isna().sum()

5

In [8]:
# There are 52,147 entries with a budget of 0
df.budget.value_counts()

0.0            52147
1000000.0        244
2000000.0        187
5000000.0        172
10000000.0       171
               ...
260000000.0        1
7120949.0          1
693550.0           1
32679734.0         1
11500.0            1
Name: budget, Length: 1484, dtype: int64

In [11]:
# There are 55,233 movies with a revenue of 0
df.revenue.value_counts()

0.0           55233
10000.0          29
100000.0         25
1500000.0        17
2000000.0        13
              ...
4500.0            1
13975.0           1
24426169.0        1
40462793.0        1
25574.0           1
Name: revenue, Length: 3759, dtype: int64

In [13]:
# 16,287 movies with a rating of 0
df.tmdb_rating.value_counts()

0.0    16287
6.0     3683
7.0     2909
5.0     2408
8.0     1758
       ...
1.2        5
1.4        5
9.1        4
9.9        1
9.6        1
Name: tmdb_rating, Length: 93, dtype: int64

In [16]:
# 25,806 missing values
df.studio.value_counts()

[]                                                                                                                                25806
['SVF Entertainment']                                                                                                                76
['Star Cinema – ABS-CBN Film Productions']                                                                                           70
['Toho Company, Ltd.']                                                                                                               66
['Toei']                                                                                                                             57
                                                                                                                                  ...
['BIG Curtains Media', 'NJ Lalwani Films']                                                                                            1
['Twisted Pictures', 'Protocol Entertainment', 'Parismony Pictures']                                                                  1
['Rakeysh Omprakash Mehra Films', 'Cinestaan Film Company']                                                                           1
['Night of Terror Films']                                                                                                             1
['Television Broadcasts Limited (TVB)', 'Shaw Brothers', 'Sil-Metropole Organisation', 'United Filmmakers Organisation (UFO)']        1
Name: studio, Length: 26977, dtype: int64

In [20]:
df[(df['budget']!=0)&(df['revenue']!=0)].shape

(2695, 10)

In [21]:
df.title.nunique()

56422

## Joining The Numbers dataset to fill missing values for budget and revenue

In [23]:
df = df.dropna()

In [24]:
df_complete = df[(df['budget']!=0)&(df['revenue']!=0)]
df_complete.shape

(2690, 10)

In [25]:
df_missing_both = df[(df['budget']==0)&(df['revenue']==0)]
df_missing_both.shape

(50646, 10)

In [26]:
df_missing_bud = df[(df['budget']==0)&(df['revenue']!=0)]
df_missing_bud.shape

(1501, 10)

In [27]:
df_missing_rev = df[(df['budget']!=0)&(df['revenue']==0)]
df_missing_rev.shape

(4587, 10)

Import the numbers dataset.

In [ ]:
numbers = pd.read_csv